<main>
  <div class="container" *ngIf="!showLoader; else loader">
    <!--Events Table START-->
    <div class="alert heading" role="alert">
      <span class="events-list-header">Events List</span>
      <button class="my-btn create" (click)="openModal(createUpdate)">Create Event</button>
    </div>
    <table class="table table-hover table-dark" *ngIf="totalPageCount !== 0; else noEvents">
      <thead>
      <tr>
        <th scope="col" style="width: 18%">Name</th>
        <th scope="col" style="width: 40%">Description</th>
        <th scope="col" style="width: 15%">Date</th>
        <th scope="col" style="width: 12%">Event Type</th>
        <th scope="col" style="width: 15%">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of limitedEvents">
        <td class="align-middle name-td"
            (click)="openModal(singleEvent, event)">
          <span ngbPopover="Click to see detailed information"
                triggers="mouseenter:mouseleave"
                [popoverTitle]="event.name">
            {{event.name}}
          </span>
        </td>
        <td class="align-middle">
          <span class="desc"
                *ngIf="event.shortDescription,else fullDescription"
                [ngbPopover]="event.description"
                triggers="mouseenter:mouseleave">
            {{event.shortDescription + ' . . . '}}
          </span>
          <ng-template #fullDescription>
            <span class="desc">{{event.description}}</span>
          </ng-template>
        </td>
        <td class="align-middle">{{event.date | date}}</td>
        <td>{{eventTypes[event.eventType - 1].type}}</td>
        <td class="align-middle">
          <button class="my-btn edit" (click)="openModal(createUpdate, event)">Edit</button>
          <button class="my-btn delete" (click)="openModal(confirm, event)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <!--Events Table END-->

    <!--Pagination START-->
    <div *ngIf="totalPageCount !== 0" class="pagination">
      <div class="pagination-buttons">
        <button
          class="my-btn page-btn"
          [class.disabled]="currentPage === 1"
          (click)="getCurrentPageEvents(currentPage - 1, eventCountLimit)"
          [disabled]="currentPage === 1">
          Prev
        </button>
        <button
          *ngFor="let page of pages"
          class="my-btn page-btn"
          [class.active]='page === currentPage'
          (click)="getCurrentPageEvents(page, eventCountLimit)">
          {{page}}
        </button>
        <button
          class="my-btn page-btn"
          [class.disabled]="currentPage === totalPageCount"
          (click)="getCurrentPageEvents(currentPage + 1, eventCountLimit)"
          [disabled]="currentPage === totalPageCount">
          Next
        </button>
      </div>
    </div>
    <!--Pagination END-->
  </div>
  <!--Loading / No Data  START-->
  <ng-template #noEvents>
    <div class="alert alert-dark" role="alert">
      <h2 class="no-event-msg p-lg-4">No Event To Show</h2>
    </div>
  </ng-template>
  <ng-template #loader>
    <app-loader [size]="'lg'" class="table-loader"></app-loader>
  </ng-template>
  <!--Loading / No Data END-->
</main>


<ng-template #createUpdate let-modal>
  <div class="modal-header">
    <h4 class="modal-title h-color">{{currentEvent ? currentEvent.name : "Create Event"}}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group m-0">
        <label for="name" class="h-color">Name</label>
        <input type="text"
               class="form-control no-background"
               id="name"
               [style.border]="(form.get('name').touched || submitted) && (form.get('name').errors?.required || form.get('name').errors?.minlength) ? '1px solid red' : '1px solid gray'"
               formControlName="name"
               placeholder="Enter Event Name">
        <div class="validation-message text-right">
          <small
            *ngIf="(form.get('name').touched || submitted) && form.get('name').errors?.required"
            class="text-danger font-italic text-right">
            Required Field
          </small>
          <small
            *ngIf="form.get('name').touched && (form.get('name').errors?.minlength || form.get('name').errors?.maxlength)"
            class="text-danger font-italic text-right">
            Name length must be more 3 and less 20 characters
            (Now: {{form.get('name').errors?.minlength ? form.get('name').errors?.minlength.actualLength : form.get('name').errors?.maxlength.actualLength}}
            )
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control"
                  id="description"
                  placeholder="Enter Description"
                  formControlName="description"
                  [style.border]=" ((form.get('description').touched || submitted ) && (form.get('description').errors?.required || form.get('description').errors?.minlength)) ? '1px solid red' : '1px solid gray'"
                  rows="5">
        </textarea>
        <div class="validation-message text-right">
          <small
            *ngIf="(form.get('description').touched || submitted ) && form.get('description').errors?.required"
            class="text-danger font-italic text-right">
            Required Field
          </small>
          <small
            *ngIf="form.get('description').touched &&  (form.get('description').errors?.minlength || form.get('description').errors?.maxlength )"
            class="text-danger font-italic text-right">
            Description length must be more 30 and less 300 characters
            (Now: {{form.get('description').errors?.minlength ? form.get('description').errors?.minlength.actualLength : form.get('description').errors?.maxlength.actualLength}}
            )
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="eventType">Event Type</label>
        <select class="form-control"
                id="eventType"
                [style.border]="(form.get('eventType').touched || submitted) && form.get('eventType').errors?.required  ? '1px solid red' : '1px solid gray'"
                formControlName="eventType">
          <option *ngFor="let eventType of eventTypes" value="{{eventType.value}}">
            {{eventType.type}}
          </option>
        </select>
        <div class="validation-message text-right">
          <small
            *ngIf="(form.get('eventType').touched || submitted) && form.get('eventType').errors?.required"
            class="text-danger font-italic text-right">
            Required Field
          </small>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group mr-auto">
          <div class="input-group">
            <input class="form-control"
                   placeholder="yyyy-mm-dd"
                   [(ngModel)]="date"
                   name="dp"
                   type="text"
                   formControlName="date"
                   [style.border]="((form.get('date').touched || submitted) && (form.get('date').errors?.required ||  (!date?.year || !date?.day || !date?.month))) ? '1px solid red' : '1px solid gray'"
                   ngbDatepicker
                   [minDate]="calendar.getToday()"
                   #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="my-btn calendar" (click)="d.toggle()" type="button">Calendar</button>
            </div>
          </div>
        </div>
        <button class="my-btn" style="float: right" (click)="selectToday()">Select Today</button>
        <div class="validation-message text-right">
          <small
            *ngIf="(form.get('date').touched || submitted ) && form.get('date').errors?.required"
            class="text-danger font-italic text-right">
            Required Field
          </small>
          <small
            *ngIf="form.get('date').touched && !form.get('date').errors?.required && (!date?.year || !date?.day || !date?.month)"
            class="text-danger font-italic text-right">
            Date is not valid
          </small>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="my-btn delete" (click)="modal.close()">Cancel</button>
    <button type="button"
            class="my-btn create"
            (click)="isEdit? onEditEvent() : onCreateEvent()">{{isEdit ? "Edit" : "Create"}}</button>
  </div>
</ng-template>

<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title h-color">Delete Event</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete <span class="text-info">{{currentEvent.name}}</span> event?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="my-btn" (click)="modal.close()">Cancel</button>
    <button type="button" class="my-btn delete" (click)="onDeleteEvent()">Delete</button>
  </div>
</ng-template>

<ng-template #singleEvent let-modal>
  <div class="modal-header text-center">
    <h3 class="modal-title h-color">{{currentEvent.name}}</h3>
  </div>
  <div class="modal-body p-0">
    <div class="img-content">
      <img class="card-img-top" [src]="currentEvent.imageUrl"
           alt="{{eventTypes[currentEvent.eventType - 1].type}}">
    </div>
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted font-italic">{{eventTypes[currentEvent.eventType - 1].type}}</h6>
      <p class="card-text">{{currentEvent.description}}</p>
      <h6 class="card-subtitle mb-2 text-muted font-italic text-right">{{currentEvent.date | date}}</h6>
    </div>
  </div>
  <div class="modal-footer">
    <button class="my-btn delete" (click)="openModal(confirm, currentEvent)">Delete</button>
    <button class="my-btn edit" (click)="openModal(createUpdate, currentEvent)">Edit</button>
    <button type="button" class="my-btn ml-auto" (click)="modal.close()">Close</button>
  </div>
</ng-template>
