
.table-loader {
  display: block;
  margin: 35px auto;
  width: 235px;
}

.table-dark {
  background: rgba(71, 88, 106, 0.9);
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 5px;
  margin-top: 100px;
  border: none;

  th {
    border: none;
  }
}

.alert-dark {
  margin: 70px auto;
  background: rgba(71, 88, 106, 0.9);
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: none;
  color: rgba(255, 255, 255, 0.95);
}


.pagination {
  .pagination-buttons {
    margin-left: auto;

    .my-btn {
      cursor: pointer;
      background: rgba(71, 88, 106, 0.8);
      border-radius: 0 0 5px 5px;
      border: none;

      &.active {
        background: rgba(31, 43, 62, 0.6) !important;
      }

      &:hover {
        background: rgba(16, 44, 73, 0.8);
        box-shadow: none;
      }

      &:active {
        box-shadow: none;
      }
    }

    .page-btn {
      &.active {
        background: rgba(31, 43, 62, 0.6) !important;
      }

      &.disabled:hover {
        background: rgba(255, 0, 0, 0.4) !important;
      }
    }
  }
}
