<main>
  <div class="container" *ngIf="!showLoader; else loader">
    <!--Events Table START-->
    <table class="table table-hover table-dark mb-0" *ngIf="totalPageCount !== 0; else noEvents">
      <thead>
      <tr>
        <th scope="col" style="width: 15%">Name</th>
        <th scope="col" style="width: 35%">Description</th>
        <th scope="col" style="width: 20%">Date</th>
        <th scope="col" style="width: 15%">Event Type</th>
        <th scope="col" style="width: 15%">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of limitedEvents">
        <td>{{event.name}}</td>
        <td><span class="desc">{{event.description}}</span></td>
        <td>{{event.date}}</td>
        <td>{{eventTypes[event.eventType - 1].type}}</td>
        <td>
          <button class="my-btn" (click)='editEvent(event)'>Edit</button>
          <button class="my-btn" (click)="deleteEvent(event)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <!--Events Table END-->

    <!--Pagination START-->
    <div *ngIf="totalPageCount !== 0" class="pagination">
      <div class="pagination-buttons">
      <button
        class="my-btn page-btn"
        [class.disabled]="currentPage === 1"
        (click)="getCurrentPageEvents(currentPage - 1, eventCountLimit)"
        [disabled]="currentPage === 1"
      >
        Prev
      </button>
      <button
        *ngFor="let page of pages"
        class="my-btn page-btn"
        [class.active]='page==currentPage'
        (click)="getCurrentPageEvents(page,eventCountLimit)"
      >
        {{page}}
      </button>
      <button
        class="my-btn page-btn"
        [class.disabled]="currentPage === totalPageCount"
        (click)="getCurrentPageEvents(currentPage + 1, eventCountLimit)"
        [disabled]="currentPage === totalPageCount"
      >
        Next
      </button>
      </div>
    </div>
    <!--Pagination END-->
  </div>
  <!--Loading / No Data  START-->
  <ng-template #noEvents>
    <div class="alert alert-dark" role="alert">
      <h2 class="no-event-msg p-lg-4">No Event To Show</h2>
    </div>
  </ng-template>
  <ng-template #loader>
    <app-loader [size]="'lg'" class="table-loader"></app-loader>
  </ng-template>
  <!--Loading / No Data END-->
</main>
<app-delete-modal id="delete"></app-delete-modal>
<app-form-modal id="edit" [currentEvent]="currentEvent"></app-form-modal>
<app-form-modal id="create"></app-form-modal>
