<div class="event-card" (click)="openModal(singleEvent)">
  <div class="event-image">
    <img [src]="event.imageUrl" [alt]="eventTypes[event.eventType - 1].type">
  </div>
  <div class="event-content">
    <div class="event-name">{{event.name}}</div>
    <div class="event-type">{{eventTypes[event.eventType - 1].type}}</div>
    <p class="event-des">
      <span class="desc"
            *ngIf="event.shortDescription,else fullDescription"
            [ngbPopover]="event.description"
            triggers="mouseenter:mouseleave">
            {{event.shortDescription + ' . . . '}}
          </span>
      <ng-template #fullDescription>
        <span class="desc">{{event.description}}</span>
      </ng-template>
    </p>
    <div class="event-date">{{event.date | date}}</div>
  </div>
</div>

<ng-template #singleEvent let-modal>
  <div class="modal-header text-center">
    <h3 class="modal-title h-color">{{event.name}}</h3>
  </div>
  <div class="modal-body p-0">
    <div class="img-content">
      <img class="card-img-top" [src]="event.imageUrl"
           alt="{{eventTypes[event.eventType - 1].type}}">
    </div>
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted font-italic">{{eventTypes[event.eventType - 1].type}}</h6>
      <p class="card-text">{{event.description}}</p>
      <h6 class="card-subtitle mb-2 text-muted font-italic text-right">{{event.date | date}}</h6>
    </div>
    <div class="modal-footer">
      <button type="button" class="my-btn" (click)="modal.close()">Close</button>
    </div>
  </div>
</ng-template>
