@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr';

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url('assets/images/bg.jpg') no-repeat fixed;
  background-size: 100% 100%;
  z-index: 0;
  //background overlay
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6) fixed;
    z-index: -1;
  }
}

.no-background {
  background: none;
}

.validation-message {
  height: 20px;
}

.h-color {
  color: rgb(38, 55, 73);
}

.form-group {
  input {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.my-btn {
  background: rgba(16, 44, 73, 0.7);
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: #FFFFFF;
  transition: 0.2s ease;

  &:hover {
    background: rgba(16, 44, 73, 0.8);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  }

  &.valid:hover {
    background: rgba(16, 44, 73, 0.8);
  }

  &.invalid:hover {
    background: rgba(255, 0, 0, 0.6);
  }
}

.no-event-msg{
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
}

.alert-dark{
  margin: 70px auto;
  background: rgba(71, 88, 106, 0.9);
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: none;
  color: rgba(255, 255, 255, 0.95);
}
