<main>
  <div class="login-form">
    <h2 class="login-heading">Log In</h2>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="loginSubmit()"
      (input)="onFormChanges()">
      <div class="form-group">
        <label>
          <span class="input-placeholder">Email</span>
          <input appPlaceholderTranslate type="text" formControlName="email">
        </label>
      </div>
      <div class="form-group">
        <label>
          <span class="input-placeholder">Password</span>
          <input appPlaceholderTranslate type="password" formControlName="password">
        </label>
      </div>
      <button type="submit"
              class="btn login-btn"
              [class.valid]="!invalidForm"
              [class.invalid]="invalidForm"
              [disabled]="showLoader">
        <span *ngIf="!showLoader; else loader" class="login-span">Log In</span>
        <ng-template #loader>
          <app-loader [size]="'sm'"></app-loader>
        </ng-template>
      </button>
    </form>
    <div class="error-msg"
         *ngIf="errorMessage"
         (click)="errorMessage = ''">
      {{errorMessage | titlecase}}
    </div>
  </div>
</main>
